*,
*::after,
*::before{
    box-sizing: border-box;
}

:root{
    --primary-pale-blue: hsl(225, 100%, 94%);
    --primary-bright-blue: hsl(245, 75%, 52%);

    --neutral-very-pale-blue: hsl(225, 100%, 98%);
    --neutral-desaturated-blue: hsl(224, 23%, 55%);
    --neutral-dark-blue: hsl(223, 47%, 23%);
    
}

body{
    background-color: var(--primary-pale-blue);
    background-image: url( "images/pattern-background-desktop.svg" );
    font-family: 'Red Hat Display', sans-serif;
}

.main-card{
    background-color: white;
    width: 28.1em;
    margin: auto;
    border-radius: 1em;
}

.hero-image{
    border-radius: 50%;
    /* this does not work */
}

.main-title{
    /* background-color: red; */
    font-weight: 900;
    font-size: 1.8rem;
    color: var(--neutral-dark-blue);
    width: 7.9em;
    margin: 1.4em auto 0.7em;
}

p{
    font-size: 1rem;
    font-weight: 500;
    color: var(--neutral-desaturated-blue);

    /* background-color: red; */
    width: 19em;
    margin: 0.7em auto;
    text-align: center;
}

.annual-plan-card{
    background-color: var(--neutral-very-pale-blue);
    /* background-color: red; */
    width: 22em;
    height: 6em;
    margin: auto;

    border-radius: 1em;

    position: relative;

}

.annual-plan{
    display: inline-block;

}


h2{
    font-weight: 900;
    font-size: 1.2rem;
    color: var(--neutral-dark-blue);
    margin-top: 1.15em;
    margin-bottom: 0.1em;

}

h3{
    font-weight: 500;
    font-size: 1rem;
    color: var(--neutral-desaturated-blue);
    margin-top: 0.1em;
}

.rate-plan{
    /* background-color: violet; */
    width: 8.5em;
    position: absolute;
    top: 0em;
    left: 6em;
}

.change{
    /* background-color: violet; */
    position: absolute;
    color: var(--primary-bright-blue);
    font-weight: 900;
    font-size: 0.9rem;
    text-decoration-line: underline;
    top: 2.7em;
    left: 18em;
}

.music-icon{
    display: inline-block;
    position: absolute;
    top: 1.5em;
    left: 1.5em;

}